<!DOCTYPE html>
<html>
<head>
    <title>Page Not Found</title>
    <link rel='stylesheet' href='/styles/styles.css' />
</head>
<body>
<h1>Page Not Found</h1>
<h2>IDK what you were lookin for but its not here...</h2>
<h2><a href="/">Bring your ass back home</a></h2>
<p>Made by DarkerMatter</p>
</body>
</html>