<!DOCTYPE html>
<html lang="en">
<head>
    <title>Jealousyaf Cheats</title>
    <link rel="icon" type="image/png" href="/logo.png">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://cdn.lineicons.com/4.0/lineicons.css" rel="stylesheet" />
    <link rel='stylesheet' href='/styles/styles.css' />
</head>

<body>

    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/dashboard">Jealousyaf Cheats</a>
        </div>
    </nav>

    <div id="primary-layout">
            <div id="sidebar">
                <div class="profile-box">
                    <img src="https://cdn.discordapp.com/avatars/<%= discordid %>/<%= avatar %>.png" alt="User Avatar">
                    <h2>Welcome, <%= username %></h2>
                </div>
                <ul class="sidebar-menu">
                    <li>
                        <a href="/api/getkey">
                            <div class="link-container">
                                <i class="lni lni-key"></i>
                                <span> Key</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://github.com/DarkerMatter/xz4">
                            <div class="link-container">
                                <i class="lni lni-github"></i>
                                <span> Github</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a target="_blank" href="https://buymeacoffee.com/darkermatter">
                            <div class="link-container">
                                <i class="lni lni-gift"></i>
                                <span> Donate</span>
                            </div>
                        </a>
                    </li>
                    <li>
                        <a href="https://discord.gg/xz0v" target="_blank">
                            <div class="link-container">
                                <i class="lni lni-discord"></i>
                                <span> Discord</span>
                            </div>
                        </a>
                    </li>
                    <% if (permissionsLevel >= 2) { %>
                        <li>
                            <a href="/admin">
                                <div class="link-container">
                                    <i class="lni lni-construction-hammer"></i>
                                    <span> Admin</span>
                                </div>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
            <div id="main-container">
                <main class="container my-5">
                    <h1>Helldivers 2 Cheats</h1>
                    <h3><a href="/api/hd2/ct/latest" class="btn">Latest Cheat Table</a></h3>
                    <h3><a id="downloadCt" href="/api/hd2/bundle/latest" class="btn">Latest Bundle</a></h3>
                    <h3><a href="https://www.youtube.com/watch?v=snHQfC-aPkQ" target="_blank">Latest Tutorial</a></h3>
                    <h1>Tools</h1>
                    <h3><a target="_blank" href="https://mega.nz/file/ubJy0aZJ#NAyRioKAFz2nleeQHK0SjLDl-i7auawceun3Ob-M4qQ" class="btn">AIO (Mega Link)</a></h3>
                    <h3><a href="/api/ce" class="btn">Cheat Engine</a></h3>
                </main>
                <div class="spacer"></div>
                <footer class="footer-container">
                    <p>Made by <a href="https://darkermatter.net" target="_blank">DarkerMatter</a></p>
                </footer>
            </div>
    </div>


    <script>
        fetch('/api/hd2/ct/latest', {
            credentials: 'same-origin',
            method: 'HEAD'
        })
    </script>
    <script>
        fetch('/api/hd2/bundle/latest', {
            credentials: 'same-origin',
            method: 'HEAD'
        })
    </script>
    <script>
        document.querySelector("[href='/api/getkey']")
            .addEventListener('click', function(event) {
                event.preventDefault();

                fetch('/api/getkey', {
                    method: 'GET',
                    credentials: 'same-origin',
                    headers: {
                        'Content-Type': 'application/json',
                    }
                })
                    .then(response => response.json())
                    .then(data => {
                        window.alert(`Your API key is: ${data.apiKey}`);
                    })
                    .catch(error => console.error('Error:', error));
            });
    </script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>