<!DOCTYPE html>
<html>
<head>
    <title>Helldivers 2 Cheats</title>
    <link rel='stylesheet' href='/styles/styles.css' />
    <link rel="icon" type="image/png" href="/logo.png">
</head>
<body>
<h1>Helldivers 2 Cheats</h1>
<p>Cheat Table Only</p>
<p>Latest Version: <a href="/ct/latest"><%= latestVersionCt %></a></p>
<p>Previous Version: <a href="/ct/previous"><%= previousVersionCt %></a></p>
<br>
<p>Bundle</p>
<p>Latest Version: <a href="/bundle/latest"><%= latestVersionBundle %></a></p>
<p>Previous Version: <a href="/bundle/previous"><%= previousVersionBundle %></a></p>
<p>Made by DarkerMatter</p>
</body>
</html>