<!DOCTYPE html>
<html>
<head>
    <title>Jealousyaf Cheats</title>
    <link rel='stylesheet' href='/styles/styles.css' />
    <link rel="icon" type="image/png" href="/logo.png">
</head>
<body>
<h1>Jealousyaf Cheats</h1>
<p>Total Downloads: <%= totalDownloads %></p>
<h3><a href="/ce" class="btn">Download Cheat Engine</a></h3>
<br>
<h2>Helldivers 2 Cheats</h2>
<h3><a href="/ct/latest" class="btn">Latest Cheat Table</a></h3>
<h3><a href="/bundle/latest" class="btn">Latest Bundle</a></h3>
<h3><a href="https://www.youtube.com/watch?v=snHQfC-aPkQ" target="_blank">Latest Tutorial</a></h3>
<br>
<p><a href="https://github.com/DarkerMatter/xz4" target="_blank" class="btn">Github Repo</a></p>
</body>
</html>